<form #managerForm="ngForm" (ngSubmit)="save()">
  <div class="p20">
    <div class="imgbox">
      <img >
    </div>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>管理信息</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>个人信息</div>
      <mat-form-field>
        <input matInput placeholder="姓名" required [(ngModel)]="manager.name" name="name" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="电话"  [(ngModel)]="manager.tel" name="tel" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="身份证号"  [(ngModel)]="manager.id_card" name="id_card" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="卡号"  [(ngModel)]="manager.ic_card" name="ic_card" >
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="性别" [(ngModel)]="manager.gender_mark" name="gender">
          <mat-option *ngFor="let gender of genders | async" [value]="gender.mark" >
            {{gender.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div>分组角色</div>
      <mat-form-field>
        <mat-select multiple placeholder="所属分组" [(ngModel)]="manager.group_ids"  name="group">
          <mat-option *ngFor="let item of groups | async" [value]="item.id">
            {{item.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select multiple placeholder="所属角色" [(ngModel)]="manager.role_ids"  name="role">
          <mat-option *ngFor="let item of roles | async" [value]="item.id">
            {{item.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>


    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="accent">添加照片</button>
      <button mat-raised-button color="primary" [disabled]="managerForm.pristine || managerForm.invalid">提交</button>
      <button mat-raised-button color="warn" (click)="goBack()">返回</button>
    </mat-card-actions>
  </mat-card>
</form>
