<form #menuItemForm="ngForm" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>菜单项信息</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="名称" required [(ngModel)]="menuItem.title" name="title" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="路径" [(ngModel)]="menuItem.path" name="path" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="图标" [(ngModel)]="menuItem.icon" name="icon" >
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="描述" [(ngModel)]="menuItem.desc" name="desc"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input readonly matInput placeholder="上级名称" [(ngModel)]="menuItem.parent_title" name="parent_title">
      </mat-form-field>
      <div [hidden]="true">
        <mat-form-field *ngIf="true">
          <input readonly matInput type="number" min="0" placeholder="depth" [(ngModel)]="menuItem.depth" name="depth">
        </mat-form-field>
        <mat-form-field *ngIf="true">
          <input readonly matInput placeholder="parent_id" [(ngModel)]="menuItem.parent_id" name="parent_id">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="menuItemForm.pristine || menuItemForm.invalid">提交</button>
      <button mat-raised-button color="warn" (click)="goBack()">返回</button>
    </mat-card-actions>
  </mat-card>
</form>
