<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="查询">
  </mat-form-field>
</div>
<!--<button mat-raised-button color="warn" (click)="openDialog()">Open dialog</button>-->
<mat-toolbar class="mat-elevation-z8">
  <span>教师管理</span>
  <span class="bxt-toolbar-spacer"></span>
  <button mat-icon-button color="primary" [routerLink]="['/bxt/teachers/new']"  matTooltip="新建">
    <mat-icon class="mat-18">add_box</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="upfile()" matTooltip="批量导入">
    <mat-icon class="mat-18">cloud_upload</mat-icon>
  </button>
  <button mat-icon-button style="color: green" matTooltip="批量导出">
    <mat-icon class="mat-18">cloud_download</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="allDel()" matTooltip="批量删除">
    <mat-icon class="mat-18">delete</mat-icon>
  </button>
</mat-toolbar>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="allSelect($event)">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (change)="teacher_selected(row.id)" [value]="row.id" [checked]="teacher_ids.indexOf(row.id) > -1">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 姓名 </th>
      <td mat-cell *matCellDef="let row">
        <div class="picbox">
          <!--          <img src="{{row.picture}}">-->
          <img (click)="openDialog(baseUrl + row.avatar_url)" [src]="baseUrl + row.avatar_url">
        </div>
        <div class="picname">{{row.name}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="dept">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 组织 </th>
      <td mat-cell *matCellDef="let row"> {{row.dept_full_title}} </td>
    </ng-container>
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 最后更新 </th>
      <td mat-cell *matCellDef="let row"> {{row.updated_at | date:'yyyy-MM-dd'}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> 操作 </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="update(row.id)" matTooltip="修改">
          <mat-icon class="mat-18">launch</mat-icon>
        </button>
<!--        <button mat-icon-button color="warn" (click)="delete(row.id)" matTooltip="删除">-->
<!--          <mat-icon class="mat-18">delete</mat-icon>-->
<!--        </button>-->
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

