<div class="mat-elevation-z8">
  <mat-form-field class="sethouse">
    <mat-select placeholder="楼栋" [(value)]="house.id" (selectionChange)="selectHouse()">
      <mat-option *ngFor="let house of houses" [value]="house.id">
        {{house.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="notes">
    <span><mat-icon color="primary">person</mat-icon><span>男</span></span>
    <span><mat-icon color="warn">person</mat-icon><span>女</span></span>
    <span><mat-icon style="color: gray" >person_outline</mat-icon><span>空</span></span>
  </div>
  <div class="floorbox" *ngFor="let floor of floors" >
    <div class="floortitle">{{floor.title}}</div>
    <div class="roombox">
      <div class="roomitem" *ngFor="let room of getRooms(floor.id)" >
        <app-room-box [room]="room"></app-room-box>
      </div>
    </div>
  </div>
</div>
