<form #bedForm="ngForm" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>床位信息</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="所属楼栋" required [(ngModel)]="bed.room.house.id" name="house">
          <mat-option *ngFor="let house of houses | async" [value]="house.id">
            {{house.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="所属楼层" required [(ngModel)]="bed.room.floor" (selectionChange)="filterRooms()"  name="floor">
          <mat-option *ngFor="let floor of floors | async" [value]="floor.name">
            {{floor.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="所属房间" required [(ngModel)]="bed.parent_id" (selectionChange)="filterStudents()" name="room">
          <mat-option *ngFor="let room of rooms | async" [value]="room.id">
            {{room.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="床位" required [(ngModel)]="bed.title" name="title" >
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="所属学生" required [(ngModel)]="bed.user_id" name="charge_person">
          <mat-option *ngFor="let student of students | async" [value]="student.id">
            {{student.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="描述" [(ngModel)]="bed.desc" name="desc"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="bedForm.pristine || bedForm.invalid">提交</button>
      <button mat-raised-button color="warn" (click)="goBack()">返回</button>
    </mat-card-actions>
  </mat-card>
</form>
