<form #studentForm="ngForm" (ngSubmit)="save(studentForm)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>学生信息</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="所属学院" required [(value)]="student.college.id" (selectionChange)="selectCollege()" name="college_id">
          <mat-option *ngFor="let college of colleges | async" [value]="college.id">
            {{college.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="所属系部" required [(value)]="student.department.id" (selectionChange)="selectDepartment()"  name="department_id">
          <mat-option *ngFor="let department of departments | async" [value]="department.id">
            {{department.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="所属班级" required [(ngModel)]="student.org_id"  name="org_id">
          <mat-option *ngFor="let classroom of classrooms | async" [value]="classroom.id">
            {{classroom.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="所属楼栋" required [(value)]="student.house.id" (selectionChange)="filterRooms()" name="house_id">
          <mat-option *ngFor="let house of houses | async" [value]="house.id">
            {{house.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="所属房间" required [(ngModel)]="student.facility_id"  name="facility_id">
          <mat-option *ngFor="let room of rooms | async" [value]="room.id">
            {{room.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="学生姓名" required [(ngModel)]="student.name" name="name" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="电话" [(ngModel)]="student.tel" name="tel" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="身份证号" [(ngModel)]="student.id_card" name="id_card" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="卡号" [(ngModel)]="student.ic_card" name="ic_card" >
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="性别" [(ngModel)]="student.gender_mark" name="gender_mark">
          <mat-option *ngFor="let gender of genders | async" [value]="gender.mark" >
            {{gender.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="studentForm.pristine || studentForm.invalid">提交</button>
      <button mat-raised-button color="warn" (click)="goBack()">返回</button>
    </mat-card-actions>
  </mat-card>
</form>
