
table {
  width: 100%;
}
.bxt-toolbar-spacer {
  flex: 1 1 auto;
}
.searchbox{
  overflow: hidden;
  box-shadow: 0 0 5px gray;
  padding: 10px 84px 10px 10px;
  margin: 10px 0;
  position: relative;
}
.searchBtn{
  position: absolute;
  right: 10px;
  top: 20px;
}
