<mat-card>
  <mat-card-subtitle>显示列表</mat-card-subtitle>
  <mat-card-content>
    <div><mat-checkbox (change)="listBtn('name')" [checked]="data.list.indexOf('name') > -1">姓名</mat-checkbox></div>
    <div><mat-checkbox (change)="listBtn('sno')" [checked]="data.list.indexOf('sno') > -1">学号</mat-checkbox></div>
    <div><mat-checkbox (change)="listBtn('dept')" [checked]="data.list.indexOf('dept') > -1">班级</mat-checkbox></div>
    <div><mat-checkbox (change)="listBtn('bedroom')" [checked]="data.list.indexOf('bedroom') > -1">寝室</mat-checkbox></div>
  </mat-card-content>
</mat-card>
