<div class="mat-card pb20 pl20 pr20 pt20 mb-20">
<!--  查询-->
  <div class="searchbox">
    <mat-form-field [ngClass]="{ 'moreserch' : moreserch === false}">
      <mat-select placeholder="组织"  [(ngModel)]="query.dept_id"   name="dept_id">
        <mat-option *ngFor="let org of org.orgs" [value]="org.id">
          {{org.full_title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br [ngClass]="{ 'moreserch' : moreserch === false}">
    <mat-form-field  [ngClass]="{ 'moreserch' : moreserch === false}">
      <mat-select placeholder="楼栋" [(ngModel)]="query.facility_id" name="facility_id">
        <mat-option *ngFor="let house of houses | async" [value]="house.id">
          {{house.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">-->
    <mat-form-field class="search" [ngClass]="{ 'moreserch' : moreserch !== false}">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="快速查找（姓名或学号）">
    </mat-form-field>
    <!--</div>-->
    <span class="bxt-toolbar-spacer"></span>
  <div class="searchbtn">
    <button mat-flat-button color="warn" (click)="serchbtn(query)"> <mat-icon>search</mat-icon>查询</button>
    <button mat-flat-button color="primary" (click)="moreserchbtn()"> <mat-icon>more_vert</mat-icon>{{moreserch?'隐藏更多':'显示更多'}}</button>
  </div>
</div>
</div>


<mat-toolbar class="mat-elevation-z8">
  <span>学生管理</span>
  <span class="bxt-toolbar-spacer"></span>
  <button mat-icon-button style="color: black" [routerLink]="['/bxt/setdorms']"  matTooltip="调寝">
    <mat-icon class="mat-18">compare_arrows</mat-icon>
  </button>
  <button mat-icon-button color="primary" [routerLink]="['/bxt/students/new']"  matTooltip="新建">
    <mat-icon class="mat-18">add_box</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="upfile()" matTooltip="批量导入">
    <mat-icon class="mat-18">cloud_upload</mat-icon>
  </button>
  <button mat-icon-button style="color: green" matTooltip="批量导出">
    <mat-icon class="mat-18">cloud_download</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="allDel()" matTooltip="批量删除">
    <mat-icon class="mat-18">delete</mat-icon>
  </button>
</mat-toolbar>
<div class="mat-elevation-z8">
  <div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="allSelect($event)">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (change)="student_selected(row.id)" [value]="row.id" [checked]="student_ids.indexOf(row.id) > -1">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 姓名 </th>
      <td mat-cell *matCellDef="let row">
        <div class="picbox">
          <!--          <img src="{{row.picture}}">-->
          <img (click)="openDialog(baseUrl + row.avatar_url)" [src]="baseUrl + row.avatar_url">
        </div>
        <div class="picname">{{row.name}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 学号 </th>
      <td mat-cell *matCellDef="let row"> {{row.sno}} </td>
    </ng-container>
    <ng-container matColumnDef="dept">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 班级 </th>
      <td mat-cell *matCellDef="let row"> {{row.dept_full_title}} </td>
    </ng-container>
    <ng-container matColumnDef="bedroom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 寝室 </th>
      <td mat-cell *matCellDef="let row"> {{row.dorm_full_title}} </td>
    </ng-container>
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 最后更新 </th>
      <td mat-cell *matCellDef="let row"> {{row.updated_at | date:'yyyy-MM-dd'}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> 操作 </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="update(row.id)" matTooltip="修改">
          <mat-icon class="mat-18">launch</mat-icon>
        </button>

<!--        <button mat-icon-button color="warn" (click)="delete(row.id)" matTooltip="删除">-->
<!--          <mat-icon class="mat-18">delete</mat-icon>-->
<!--        </button>-->
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
