<div class="searchbox">
  <mat-form-field>
    <mat-select placeholder="组织" [(ngModel)]="query.org_id" name="dept_id" (selectionChange)="applyFilter($event)">
      <mat-option>空</mat-option>
      <mat-option *ngFor="let org of org.orgs" [value]="org.id">
        {{org.full_title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="楼栋" [(ngModel)]="house_id" name="house_id" (selectionChange)="changeHouse()">
      <mat-option *ngFor="let house of houses" [value]="house.id">
        {{house.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="楼层" [(ngModel)]="floor_id" name="floor_id" (selectionChange)="changeFloor()">
      <mat-option *ngFor="let floor of floors" [value]="floor.id">
        {{floor.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="房间" [(ngModel)]="room_id" (selectionChange)="changeRoom()">
      <mat-option *ngFor="let room of rooms " [value]="room.id">
        {{room.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput  [(ngModel)]="query.key" (keyup)="applyFilter($event)" placeholder="输入名或学号">
  </mat-form-field>
</div>

<mat-toolbar class="mat-elevation-z8">
  <span>学生管理</span>
  <span class="bxt-toolbar-spacer"></span>
  <button mat-icon-button style="color: black" (click)="openDialogList(displayedColumns)"  matTooltip="列表">
    <mat-icon class="mat-18">list</mat-icon>
  </button>
  <!--<button mat-icon-button style="color: purple" (click)="face()" matTooltip="照片失败列表">-->
    <!--<mat-icon class="mat-18">portrait</mat-icon>-->
  <!--</button>-->
  <button mat-icon-button style="color: purple" (click)="import_avatar()" matTooltip="导入照片">
    <mat-icon class="mat-18">portrait</mat-icon>
  </button>
  <button mat-icon-button color="primary" [routerLink]="['/bxt/students/new']"  matTooltip="新增">
    <mat-icon class="mat-18">add_box</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="import_student()" matTooltip="批量导入">
    <mat-icon class="mat-18">group_add</mat-icon>
  </button>
  <button mat-icon-button style="color: green" matTooltip="下载模板">
    <mat-icon class="mat-18">cloud_download</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="AddFaces()" matTooltip="人脸权限下发">
    <mat-icon class="mat-18">add_circle</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="DelFaces()" matTooltip="人脸权限删除">
    <mat-icon class="mat-18">remove_circle</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="AddCards()" matTooltip="Card权限下发">
    <mat-icon class="mat-18">add_circle</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="DelCards()" matTooltip="Card权限删除">
    <mat-icon class="mat-18">remove_circle</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="allDel()" matTooltip="批量删除">
    <mat-icon class="mat-18">delete</mat-icon>
  </button>
  <button mat-icon-button color="black" (click)="Format()" matTooltip="格式化人员数据">
    <mat-icon class="mat-18">delete_forever</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="determinate" [value]="progressbar"></mat-progress-bar>
<div class="mat-elevation-z8">
  <div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="allSelect($event)">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (change)="student_selected(row.id , row.ic_card)" [value]="row.id" [checked]="student_ids.indexOf(row.id) > -1">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 姓名 </th>
      <td mat-cell *matCellDef="let row">
        <div class="picbox">
          <img onerror="javascript:this.src='/assets/img/imghead.png'" (click)="openDialog(baseUrl + row.avatar_url)" [src]="baseUrl + row.avatar_url">
        </div>
        <div class="picname">{{row.name}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 学号 </th>
      <td mat-cell *matCellDef="let row"> {{row.sno}} </td>
    </ng-container>
    <ng-container matColumnDef="dept">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 班级 </th>
      <td mat-cell *matCellDef="let row"> {{row.dept_full_title}} </td>
    </ng-container>
    <ng-container matColumnDef="bedroom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 寝室 </th>
      <td mat-cell *matCellDef="let row"> {{row.dorm_full_title}} </td>
    </ng-container>
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 最后更新 </th>
      <td mat-cell *matCellDef="let row"> {{row.updated_at | date:'yyyy-MM-dd'}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> 操作 </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="update(row.id)" matTooltip="修改">
          <mat-icon class="mat-18">launch</mat-icon>
        </button>

<!--        <button mat-icon-button color="warn" (click)="delete(row.id)" matTooltip="删除">-->
<!--          <mat-icon class="mat-18">delete</mat-icon>-->
<!--        </button>-->
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  <mat-paginator
    [length]="pageLength"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="paginate($event)">
  </mat-paginator>
</div>
