<div class="searchbox">
<!--  查询-->
  <mat-form-field>
    <mat-select placeholder="所属学院" multiple [(value)]="student.college_id" name="college_id">
      <mat-option *ngFor="let college of colleges | async" [value]="college.id">
        {{college.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="所属系部" multiple [(value)]="student.department_id"  name="department_id">
      <mat-option *ngFor="let department of departments | async" [value]="department.id">
        {{department.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="所属年级" multiple [(ngModel)]="student.grade_mark"  name="grade_mark">
      <mat-option *ngFor="let grade of student.department?.grades" [value]="grade.mark">
        {{grade.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="所属班级" multiple [(ngModel)]="student.classroom_id"  name="classroom_id">
      <mat-option *ngFor="let classroom of classrooms | async" [value]="classroom.id">
        {{classroom.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="所属楼栋" multiple [(value)]="student.house_id" (selectionChange)="filterRooms()" name="house_id">
      <mat-option *ngFor="let house of houses | async" [value]="house.id">
        {{house.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="所属楼栋" multiple [(value)]="student.floor_id"  name="floor_id">
      <mat-option *ngFor="let floor of floors | async" [value]="floor.id">
        {{floor.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="所属房间" multiple [(ngModel)]="student.room_id"  name="room_id">
      <mat-option *ngFor="let room of rooms | async" [value]="room.id">
        {{room.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="学号" [(ngModel)]="student.id_card" name="id_card" >
  </mat-form-field>
  <mat-form-field>
     <input matInput placeholder="姓名" [(ngModel)]="student.name" name="name" >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="电话" [(ngModel)]="student.tel" name="tel" >
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="性别" [(ngModel)]="student.gender_mark" name="gender_mark">
      <mat-option *ngFor="let gender of genders | async" [value]="gender.mark" >
        {{gender.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span class="bxt-toolbar-spacer"></span>
  <button mat-flat-button color="primary"> 查询</button>
</div>
<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">
  <mat-form-field class="search">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="查找">
  </mat-form-field>
</div>
<mat-toolbar class="mat-elevation-z8">
  <span>学生管理</span>
  <span class="bxt-toolbar-spacer"></span>
  <button mat-icon-button style="color: black" [routerLink]="['/bxt/setdorms']"  matTooltip="调寝">
    <mat-icon class="mat-18">compare_arrows</mat-icon>
  </button>
  <button mat-icon-button color="primary" [routerLink]="['/bxt/students/new']"  matTooltip="新建">
    <mat-icon class="mat-18">add_box</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="upfile()" matTooltip="批量导入">
    <mat-icon class="mat-18">cloud_upload</mat-icon>
  </button>
  <button mat-icon-button style="color: green" matTooltip="批量导出">
    <mat-icon class="mat-18">cloud_download</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="allDel()" matTooltip="批量删除">
    <mat-icon class="mat-18">delete</mat-icon>
  </button>
</mat-toolbar>
<div class="mat-elevation-z8">
  <div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="allSelect($event)">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (change)="student_selected(row.id)" [value]="row.id" [checked]="student_ids.indexOf(row.id) > -1">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 照片 </th>
      <td mat-cell *matCellDef="let row">
        <div class="picbox">
          <!--          <img src="{{row.picture}}">-->
          <img (click)="openDialog('http://img4q.duitang.com/uploads/item/201410/20/20141020100423_aSJer.thumb.700_0.jpeg')" src="http://img4q.duitang.com/uploads/item/201410/20/20141020100423_aSJer.thumb.700_0.jpeg">
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 姓名 </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 学号 </th>
      <td mat-cell *matCellDef="let row"> {{row.sno}} </td>
    </ng-container>
    <ng-container matColumnDef="dept">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 班级 </th>
      <td mat-cell *matCellDef="let row"> {{row.dept_title}} </td>
    </ng-container>
    <ng-container matColumnDef="bedroom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 寝室 </th>
      <td mat-cell *matCellDef="let row"> {{row.dorm_title}} </td>
    </ng-container>
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 最后更新 </th>
      <td mat-cell *matCellDef="let row"> {{row.updated_at | date:'yyyy-MM-dd'}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> 操作 </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="update(row.id)" matTooltip="修改">
          <mat-icon class="mat-18">launch</mat-icon>
        </button>

<!--        <button mat-icon-button color="warn" (click)="delete(row.id)" matTooltip="删除">-->
<!--          <mat-icon class="mat-18">delete</mat-icon>-->
<!--        </button>-->
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
