<mat-form-field class="sethouse">
  <mat-select placeholder="楼栋" [(ngModel)]="query.facility_id" (selectionChange)="selectHouse()">
    <mat-option *ngFor="let house of houses" [value]="house.id">
      {{house.title}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>
    <mat-card>
      <mat-card-header>
        <mat-card-title>异常分布</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <canvas baseChart width="300" height="200" [data]="[status_stats.days_in, status_stats.days_out, status_stats.normal, status_stats.go_out, status_stats.back_late]" [labels]="['多日未出','多日未归','正常', '未归', '晚归']" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card>
      <mat-card-header>
        <mat-card-title>床位分布</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <canvas baseChart width="300px" height="200px" [data]="[bed_stats.owners, bed_stats.empties]" [labels]="['入住数','空床数']" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>
