<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="查询">
  </mat-form-field>
  <a [routerLink]="['/bxt/roles/new']" mat-button color="primary">新建</a>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 角色信息 </th>
      <td mat-cell *matCellDef="let row">
        <mat-list>
          <h4 mat-line>{{row.title}}</h4>
          <mat-list-item *ngFor="let item of row.groups">
            <p mat-line>{{item.title}}</p>
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 最后更新 </th>
      <td mat-cell *matCellDef="let row"> {{row.updated_at | date:'yyyy-MM-dd'}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> 操作 </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="update(row.id)" matTooltip="修改">
          <mat-icon class="mat-18">launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(row.id)" matTooltip="删除">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
