table {
  width: 100%;
}

.bxt-toolbar-spacer {
  flex: 1 1 auto;
}
.moreserch{
  display: none;
}
button+button{
  margin: 0 10px;
}
.search {
  font-size: 14px;
  width: 100%;
}
.bxt-toolbar-spacer {
  flex: 1 1 auto;
}
.searchbox{
  overflow: hidden;
}
.status-style{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
