<section fxLayout="column" fxLayoutAlign="center center" class="password-box">
  <h2>修改密码</h2>
  <mat-dialog-content class="password-container">
    <mat-form-field>
      <input matInput type="password" placeholder="输入原密码" [(ngModel)]="data.password" name="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="输入新密码" [(ngModel)]="data.new_password" name="new_password">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="确认新密码" [(ngModel)]="data.confirm_password" name="confirm_password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="warn" [mat-dialog-close]="false">取消</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">提交</button>
  </mat-dialog-actions>
</section>
