table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.bxt-toolbar-spacer {
  flex: 1 1 auto;
}
.align-center{
  display: flex;align-items: center;
}
.hide{
  display: none;
}
.show{
  display: table-row;
}
