
  <mat-form-field>
    <mat-select placeholder="角色" [(value)]="role.id" >
      <mat-option *ngFor="let role of roles" [value]="role.id">
        {{role.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<mat-toolbar class="mat-elevation-z8">
  <span>菜单管理</span>
  <span class="bxt-toolbar-spacer"></span>
</mat-toolbar>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 菜单 </th>
      <td mat-cell *matCellDef="let row"><span [ngStyle]="{'padding-left': row.depth + 'em'}"> {{row.title}} </span></td>
    </ng-container>
    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 路径 </th>
      <td mat-cell *matCellDef="let row"> {{row.path}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> 操作 </th>
      <td mat-cell *matCellDef="let row">
        <div class="flex">
          <div *ngFor="let mp of menu_privileges | async">
            <mat-checkbox [(value)]="mp.mark" [checked]="getPermit(row.id, role.id, mp.mark)" >
              {{mp.title}}
            </mat-checkbox>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
