<form #floorForm="ngForm" (ngSubmit)="save(floorForm)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>楼层信息</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="所属楼栋" required [(ngModel)]="floor.parent_id"  name="parent_id">
          <mat-option *ngFor="let house of houses" [value]="house.id">
            {{house.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="名称" required [(ngModel)]="floor.title" name="title" >
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="排序" [(ngModel)]="floor.seq" name="seq">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="描述" [(ngModel)]="floor.desc" name="desc"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="floorForm.pristine || floorForm.invalid">提交</button>
      <button mat-raised-button color="warn" (click)="goBack()">返回</button>
    </mat-card-actions>
  </mat-card>
</form>
