.room-box {
  //display: flex;
  //column-count: 4;
  //border:1px solid;
  //width: 8em;
  margin: 5px;
  box-shadow: 0 0 5px gray;
  overflow: hidden;
  position: relative;
  height:63px;
}
.header{
  background-color: orangered;
  position: absolute;
  width: 100px;
  text-align: center;
  color: white;
  transform:rotate(-45deg);
  left: -45px;
  top: -15px;
  padding: 25px 0 0 0;
  font-size: 12px;
}
.bed{
  display: flex;
  align-self: center;
}
.bedbox{
  margin: 10px 0 5px 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
