#sidebar {
  width: 250px;
  position: fixed;
  top: 56px;
  bottom: 0;
  //background: #fff;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  z-index: 999;
  -ms-overflow-y: auto;
  overflow-y: auto;
  .mat-nav-list {
    width: 100%;
    a {
      .mat-icon {
        margin-right: 15px;
      }
      display: block;
    }
  }

}
.nested-menu {
  .nested {
    list-style-type: none;
  }
  .submenu {
    display: none;
    height: 0;
  }
  & .expand {
    &.submenu {
      display: block;
      list-style-type: none;
      height: auto;
      margin: 0;
      li {
        a {
          padding: 10px;
          display: block;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  #sidebar {
    left: -250px;
    background-color: white;
  }
}
.active {
  //border-right: 5px solid #3f51b5;
  //font-weight: bolder;
  text-align: center;
  margin: 5px 10px;
  border-radius: 10px;
  background-color: #00A0E9;
  color: white;
}
li>a:hover{
  //font-weight: bolder;
  transition: background-color 0.5s;
  //border-right: 8px solid #3f51b5;
  text-align: center;
  margin: 5px 10px;
  border-radius: 10px;
  background-color: #00A0E9;
  color: white;
}
.setmenu{
  color: white;
  background-color: #00A0E9;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}
.setmenu:hover{
  color: black;
  background-color: #00A0E9;
}
.mat-list-item{
  font-family: "Microsoft YaHei";
}
.nested-menu.ng-star-inserted:hover{
  color: black;
  //background-color: lightsalmon;
}
.nested-menu.ng-star-inserted>a:hover{
  background-color: #00A0E9;
  color: white;
}
.nested-menu.ng-star-inserted ul:hover{
  color: black;
  //background-color: white;
}
ul{
  padding: 0;
}
ul li {
  text-align: center;
  margin: 5px 10px;
}

.sidebar-background{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  filter: alpha(opacity=10);
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
