<div id="sidebar" style="background-color: rgb(216, 11, 11);">
  <div class="sidebar-background" [style.background-image]="'url(../assets/img/sidebar-3.jpg)'">
  <mat-nav-list>
    <div class="nested-menu" *ngFor="let mainItem of findChildren(null)">
      <a mat-list-item [ngClass]="{ 'setmenu': mainItem.id == menustyle }" (click)="addExpandClass(mainItem.id)">
        <mat-icon class="sidenav-icon" >{{mainItem.icon}}</mat-icon> {{ mainItem.title }}
      </a>
      <ul class="nested submenu" [class.expand]="showMenu === mainItem.id" *ngIf="hasChild(mainItem.id)">
        <li *ngFor="let submenuItem of findChildren(mainItem.id)">
          <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="[submenuItem.path]"><span>{{ submenuItem.title }}</span></a>
        </li>
      </ul>
    </div>
  </mat-nav-list>
  </div>
</div>
