.fieldset-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
}
mat-card {
  text-align: center;
}
.bedbox{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.bedbox mat-card-content{
  margin: 20px;
  box-shadow: 0 0 10px gray;
}
@media (min-width: 1024px){
  .bedbox mat-card-content{
    width: calc(100% / 3 - 40px);
  }
} /*>=1024的设备*/
@media (max-width: 1024px){
  .bedbox mat-card-content{
    width: calc(100% - 40px);
  }
} /*<=1024的设备*/
