<form #gradeForm="ngForm" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>年级信息</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="所属学院" required [(ngModel)]="grade.department.college.id" (selectionChange)="selectCollege()" name="college">
          <mat-option *ngFor="let college of colleges | async" [value]="college.id">
            {{college.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="所属系部" required [(ngModel)]="grade.parent_id" name="department">
          <mat-option *ngFor="let department of departments | async" [value]="department.id">
            {{department.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="年级" required [(ngModel)]="grade.title" name="title" >
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="描述" [(ngModel)]="grade.desc" name="desc"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="gradeForm.pristine || gradeForm.invalid">提交</button>
      <button mat-raised-button color="warn" (click)="goBack()">返回</button>
    </mat-card-actions>
  </mat-card>
</form>
