<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    北讯通公寓管理系统
  </div>
  <span class="nav-spacer"></span>
  <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="language">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #language="matMenu">
    <button mat-menu-item (click)="changeLang('en')">
      <span>{{ 'English' }}</span>
    </button>
    <button mat-menu-item (click)="changeLang('cn')">
      <span>{{ '中文' }}</span>
    </button>
  </mat-menu>
  <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profile="matMenu">
    <button mat-menu-item (click)="refresh()">
      <mat-icon>person</mat-icon>
      <span>{{ '个人信息' }}</span>
    </button>
    <button mat-menu-item (click)="modify_password()">
      <mat-icon>inbox</mat-icon>
      <span>{{ '修改密码' }}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>{{ 'Settings' }}</span>
    </button>
  </mat-menu>
  <button mat-icon-button (click)="onLoggedout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
