table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.bxt-toolbar-spacer {
  flex: 1 1 auto;
}
table td span {
  border-right: 1px solid grey;
  padding: 0 8px 0 15px;
  text-align: center;
}
table td span:last-of-type {
  border-right: none;
}
