<form #groupForm="ngForm" (ngSubmit)="save(groupForm)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>群组信息</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="名称" required [(ngModel)]="group.title" name="title" >
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="描述" [(ngModel)]="group.desc" name="desc"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-select multiple placeholder="包含角色" [(ngModel)]="group.role_ids"  name="role_ids">
          <mat-option *ngFor="let item of roles | async" [value]="item.id">
            {{item.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="groupForm.pristine || groupForm.invalid">提交</button>
      <button mat-raised-button color="warn" (click)="goBack()">返回</button>
    </mat-card-actions>
  </mat-card>
</form>
<!--{{this.group | json}}-->
